{% load  staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Change Password</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/adminforgetpassword.js' %}"></script>
    {% include 'adminheaderfiles.html' %}
</head>
<body>
<br><br><br><br><br><br><br>
<div class="container">
    <h4 style="padding-left:25%">There will be a code send to your email id </h4>
    <input id="token" hidden="hidden" value="{{ csrf_token }}">

    <div class="col-sm-8">
        <form class="form-horizontal">
        <label class="col-sm-3" for="email">Email</label>
        <div class="col-sm-5">
           <input type="text" class="form-control" id="email" name="email">
        </div>

        <div class="col-sm-4">
            <input style="float:right" type="button" class="btn btn-sm btn-primary" value="Send Code">
    </div>
        </form>
    </div>


{##}
{#            Email : <input type="text" class="form-control" id="email" name="email">#}
{#            <input id="send" style="float:right" type="button" class="btn btn-sm btn-primary" value="Send Code">#}

</div>

{% include 'footer.html' %}
</body>
</html>