{% load staticfiles%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hunger Zone</title>

    <link rel="stylesheet" type="text/css" href="{% static  'design/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static  'design/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'design/bootstrap-3.3.7-dist/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/restaurantchangepassword.js' %}"></script>
    {% include 'restaurantheaderfiles.html' %}
</head>
<body>
{% include 'restaurantheader.html' %}
{% include 'restaurantsubheader.html' %}


<br><br><br><br><br><br><br>

<div class="container">
        <input id="token" hidden="hidden" value="{{ csrf_token }}">
        <form class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-sm-3" for="oldpassword">Old Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                <p style="margin-left: 20px;color: red" id="error-old-password"></p>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3" for="password">New Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password" name="password">
                <p style="margin-left: 20px;color: red" id="error-password"></p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="cpassword">Confirm New Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="cpassword" name="cpassword">
                <p style="margin-left: 20px;color: red" id="error-cpassword"></p>
            </div>
        </div>
        <p id="error"></p>
        <div class="col-sm-7">
            <input id="change" style="float:right" type="button" class="btn btn-sm btn-primary" value="Change">
        </div>
        </form>
</div>

{% include 'restaurantfooter.html' %}
</body>
</html>