{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{% url 'index' %}">Hunger Zone</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><br>
                    <div class="search-container">
                        <form action="{% url 'usersearch' %}" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit">search</button>
                        </form>
                    </div>
                </li>

                 <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                    href="{% url 'viewuserpage' %}">
                    User<span class="carot"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'usersignuppage' %}">Sign Up</a></li>
                        <li><a href="{% url 'userloginpage' %}">Login</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                    href="{% url 'adminview' %}">
                    Admin<span class="carot"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'adminsigninpage' %}">Login</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                    href="{% url 'viewrestaurant' %}">
                    Restaurant<span class="carot"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'restaurantsignuppage' %}">Sign Up</a></li>
                        <li><a href="{% url 'restauranloginpage' %}">Sign In</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
</body>
</html>