<header>
		<nav class="navbar navbar-expand-lg navbar-light py-4">
			<div class="container">
				<h1>
					<a class="navbar-brand" href="/">
						<i class="fas fa-utensils"></i>Hunger Zone
					</a>
				</h1>
				<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul class="navbar-nav mx-auto text-center">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>


                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							    aria-haspopup="true" aria-expanded="false">
								Menu
							</a>
							<div class="dropdown-menu text-lg-left text-center" aria-labelledby="navbarDropdown">
								<a class="dropdown-item " href="{% url 'addfooditempage' %}">Add Menu Item</a>
								<a class="dropdown-item " href="{% url 'restaurantviewfooditems' %}">View Menu Items</a>
							</div>
						</li>

                        <li class="nav-item  dropdown" style="margin-left: 360px;">
							<a class="nav-link  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							    aria-haspopup="true" aria-expanded="false">
                                Hi {{ request.session.RESTAURANTNAME }}
							</a>
							<div class="dropdown-menu text-lg-left text-center" aria-labelledby="navbarDropdown">
{# 								<a class="dropdown-item " href="{% url 'restaurantorderpage' %}">Orders</a>#}
								<a class="dropdown-item " href="{% url 'restaurantsettingspage' %}">Settings</a>
								<div class="dropdown-divider"></div>
								<a id="logout" class="dropdown-item" href="{% url 'restaurantlogout' %}">Logout</a>
							</div>
						</li>

					</ul>

				</div>
			</div>
		</nav>
</header>
<input id="token" hidden="hidden" value="{{ csrf_token }}">