{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="shortcut icon" href="{% static 'images/eatigo_logo.jpg' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static  'design/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static  'design/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'design/bootstrap-3.3.7-dist/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/user.js' %}"></script>

    <style>
        .container-fluid{
            font-size: 17px;
            padding: 3px;
        }
    </style>

    {% block head %}{% endblock %}
</head>
<body {% block bodyattributes %}{% endblock %} onload="HomePageOnLoad()">
<input id="photo" value="{{ request.session.USERPHOTO }}" type="hidden">
<input id="username" value="{{ request.session.USERNAME }}" type="hidden">
<input id="token" value="{{ csrf_token }}" type="hidden">

<nav class="nabar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="{% url 'index' %}">Hunger Zone</a>
            </div>
        </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li>
                    <div style="margin-left: 10px;margin-top:9px " class="search-container">
                        <input type="text" placeholder="Search.." name="search" id="search">
                        <button id="search-button"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a id="welcome" class="dropdown-toggle" data-toggle="dropdown" href="/">
                    <span class="carot"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'usershoworders' %}"><span class="glyphicon glyphicon-cutlery">&nbsp;</span>Orders</a></li>
                        <li><a href="{% url 'cart' %}" id="show_cart"><span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Cart</a></li>
                        <li><a href="{% url 'cart' %}" id="reviews"><span class="glyphicon glyphicon-comment">&nbsp;</span>Reviews</a></li>
                        <li><a href="{% url 'usersettingspage' %}" ><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;Settings</a></li>
                        <li><a id="logout" href="/userlogoutaction"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>

            {% block navbar %}{% endblock %}

    </div>
</nav>

{% block body %}{% endblock %}
</body>
</html>