<!-- banner -->
{% load staticfiles %}

<div class="callbacks_container">
    <ul class="rslides" id="slider3">
        <li>
            <div class="slider-info bg1" style="min-height: 20vw;">
                <div class="search-agile" style="top: 200px;
    position: relative;">
                    <form action="{% url 'usersearch' %}" method="get">

                        <input type="search" id="search" name="search" placeholder="Search here..." required="">
                        <input type="submit" value="Search" id="search-button">
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- //banner -->