
.col-sm-12{
    background: snow;
    min-height: 700px;
}

.orders{
    border: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
}

.order-items{
    min-height: 60px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;

}
.mark{
    width:22px;
    height:22px;
    margin: 2px;
}
.col-sm-7{
    background: white;
}
.col-sm-3{
    background: white;
}
#item-photo{
    height: 100px;
    weight:100px;
}